{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
        <div class="row">
            <h1 class="col">Check out my skills & works</h1>
        </div>
</div>
{% endblock %}

{% block content %}
<!-- Knowledge Bar Section -->
<div class="container">
    <h3>Knowledge</h3>
    <div class="row">
        <div class="col-12 col-md-6 my-auto">
            <h5>Full Stack Developer</h5>
            <p class="text-black csstext">HTML5:
                <span class="fab fa-html5 checked"></span>
                <span class="fab fa-html5 checked"></span>
                <span class="fab fa-html5 checked"></span>
                <span class="fab fa-html5 checked"></span>
                <span class="fab fa-html5"></span>
                <span class="fab fa-html5"></span>
            </p>
            <p class="text-black csstext">CSS3:
                <span class="fab fa-css3-alt checked"></span>
                <span class="fab fa-css3-alt checked"></span>
                <span class="fab fa-css3-alt checked"></span>
                <span class="fab fa-css3-alt checked"></span>
                <span class="fab fa-css3-alt"></span>
                <span class="fab fa-css3-alt"></span>
            </p>
            <p class="text-black csstext">JavaScript:
                <span class="fab fa-js-square checked"></span>
                <span class="fab fa-js-square checked"></span>
                <span class="fab fa-js-square checked"></span>
                <span class="fab fa-js-square"></span>
                <span class="fab fa-js-square"></span>
                <span class="fab fa-js-square"></span>
            </p>
            <p class="text-black csstext">Python:
                <span class="fab fa-python checked"></span>
                <span class="fab fa-python checked"></span>
                <span class="fab fa-python checked"></span>
                <span class="fab fa-python"></span>
                <span class="fab fa-python"></span>
                <span class="fab fa-python"></span>
            </p>
        </div>
        <div class="col-12 col-md-6 my-auto">
            <h5>Frameworks & Productivity</h5>
            <p class="text-black csstext">Django:
                <span class="iconify checked" data-icon="simple-icons:django" data-inline="false"></span>
                <span class="iconify checked" data-icon="simple-icons:django" data-inline="false"></span>
                <span class="iconify checked" data-icon="simple-icons:django" data-inline="false"></span>
                <span class="iconify" data-icon="simple-icons:django" data-inline="false"></span>
                <span class="iconify" data-icon="simple-icons:django" data-inline="false"></span>
                <span class="iconify" data-icon="simple-icons:django" data-inline="false"></span>
            </p>
            <p class="text-black csstext">Flask:
                <span class="iconify checked" data-icon="cib-flask" data-inline="false"></span>
                <span class="iconify checked" data-icon="cib-flask" data-inline="false"></span>
                <span class="iconify checked" data-icon="cib-flask" data-inline="false"></span>
                <span class="iconify" data-icon="cib-flask" data-inline="false"></span>
                <span class="iconify" data-icon="cib-flask" data-inline="false"></span>
                <span class="iconify" data-icon="cib-flask" data-inline="false"></span>
            </p>
            <p class="text-black csstext">JSON:
                <span class="iconify checked" data-icon="file-icons:json-1" data-inline="false"></span>
                <span class="iconify checked" data-icon="file-icons:json-1" data-inline="false"></span>
                <span class="iconify checked" data-icon="file-icons:json-1" data-inline="false"></span>
                <span class="iconify" data-icon="file-icons:json-1" data-inline="false"></span>
                <span class="iconify" data-icon="file-icons:json-1" data-inline="false"></span>
                <span class="iconify" data-icon="file-icons:json-1" data-inline="false"></span>
            </p>
            <p class="text-black csstext">GitHub & Gitpod:
                <i class="fab fa-github checked"></i>
                <span class="iconify checked" data-icon="simple-icons:gitpod" data-inline="false"></span>
                <i class="fab fa-github checked"></i>
                <span class="iconify" data-icon="simple-icons:gitpod" data-inline="false"></span>
                <i class="fab fa-github"></i>
                <span class="iconify" data-icon="simple-icons:gitpod" data-inline="false"></span>
            </p>
        </div>
        <div class="col-12 col-md-6 my-auto">
            <h5>Cloud & Database</h5>
            <p class="text-black csstext">AWS:
                <i class="fab fa-aws checked"></i>
                <i class="fab fa-aws checked"></i>
                <i class="fab fa-aws checked"></i>
                <i class="fab fa-aws"></i>
                <i class="fab fa-aws"></i>
                <i class="fab fa-aws"></i>
            </p>
            <p class="text-black csstext">MongoDB:
                <span class="iconify checked" data-icon="simple-icons:mongodb" data-inline="false"></span>
                <span class="iconify checked" data-icon="simple-icons:mongodb" data-inline="false"></span>
                <span class="iconify checked" data-icon="simple-icons:mongodb" data-inline="false"></span>
                <span class="iconify" data-icon="simple-icons:mongodb" data-inline="false"></span>
                <span class="iconify" data-icon="simple-icons:mongodb" data-inline="false"></span>
                <span class="iconify" data-icon="simple-icons:mongodb" data-inline="false"></span>
            </p>
            <p class="text-black csstext">SQL:
                <i class="fas fa-database checked"></i>
                <i class="fas fa-database checked"></i>
                <i class="fas fa-database checked"></i>
                <i class="fas fa-database"></i>
                <i class="fas fa-database"></i>
                <i class="fas fa-database"></i>
            </p>
            <p class="text-black csstext">noSQL:
                <i class="fas fa-server checked"></i>
                <i class="fas fa-server checked"></i>
                <i class="fas fa-server checked"></i>
                <i class="fas fa-server"></i>
                <i class="fas fa-server"></i>
                <i class="fas fa-server"></i>
            </p>
        </div>
        <div class="col-12 col-md-6 my-auto">
            <h5>Operating System</h5>
            <p class="text-black csstext">Microsoft Windows:
                <i class="fab fa-windows checked"></i>
                <i class="fab fa-windows checked"></i>
                <i class="fab fa-windows checked"></i>
                <i class="fab fa-windows"></i>
                <i class="fab fa-windows"></i>
                <i class="fab fa-windows"></i>
            </p>
            <p class="text-black csstext">Linux:
                <i class="fab fa-linux checked"></i>
                <i class="fab fa-linux checked"></i>
                <i class="fab fa-linux checked"></i>
                <i class="fab fa-linux"></i>
                <i class="fab fa-linux"></i>
                <i class="fab fa-linux"></i>
            </p>
            <p class="text-black csstext">Android:
                <i class="fab fa-android checked"></i>
                <i class="fab fa-android checked"></i>
                <i class="fab fa-android checked"></i>
                <i class="fab fa-android"></i>
                <i class="fab fa-android"></i>
                <i class="fab fa-android"></i>
            </p>
            <p class="text-black csstext">macOS & iOS:
                <i class="fab fa-apple checked"></i>
                <i class="fab fa-apple checked"></i>
                <i class="fab fa-apple checked"></i>
                <i class="fab fa-apple"></i>
                <i class="fab fa-apple"></i>
                <i class="fab fa-apple"></i>
            </p>
        </div>
    </div>  
</div>

<!-- Swiper -->
<div class="container">
    <h3>Projects</h3>
    <div class="swiper-container mySwiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="row">
                    <div class="col-12 col-md-6 my-auto">
                        <img src="media/noimage.png" alt="" class="cssimg">
                    </div>
                    <div class="col-12 col-md-6 my-auto">
                        <h1>1</h1>
                        <h3>Title Test</h3>
                        <p class="csstext">
                        Description of the project / web site Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum possimus impedit esse doloribus recusandae sequi omnis fugit! Consequuntur nulla voluptate molestiae iusto, perspiciatis incidunt adipisci quis, quaerat quidem alias qui! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum exercitationem consequatur tenetur maxime laborum expedita pariatur quibusdam, illum ipsum, soluta nulla fugiat quos dignissimos eveniet! Quos rem vel dicta voluptatum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio laboriosam, rerum repellat voluptates esse provident, ducimus unde itaque neque dolore adipisci, possimus ut saepe nesciunt quam sit. Odit, magni?
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="row">
                    <div class="col-12 col-md-6 my-auto">
                        <img src="media/noimage.png" alt="" class="cssimg">
                    </div>
                    <div class="col-12 col-md-6 my-auto">
                        <h1>2</h1>
                        <h3>Title Test</h3>
                        <p class="csstext">
                        Description of the project / web site Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum possimus impedit esse doloribus recusandae sequi omnis fugit! Consequuntur nulla voluptate molestiae iusto, perspiciatis incidunt adipisci quis, quaerat quidem alias qui! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum exercitationem consequatur tenetur maxime laborum expedita pariatur quibusdam, illum ipsum, soluta nulla fugiat quos dignissimos eveniet! Quos rem vel dicta voluptatum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio laboriosam, rerum repellat voluptates esse provident, ducimus unde itaque neque dolore adipisci, possimus ut saepe nesciunt quam sit. Odit, magni?
                        </p>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="row">
                    <div class="col-12 col-md-6 my-auto">
                        <img src="media/noimage.png" alt="" class="cssimg">
                    </div>
                    <div class="col-12 col-md-6 my-auto">
                        <h1>3</h1>
                        <h3>Title Test</h3>
                        <p class="csstext">
                        Description of the project / web site Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum possimus impedit esse doloribus recusandae sequi omnis fugit! Consequuntur nulla voluptate molestiae iusto, perspiciatis incidunt adipisci quis, quaerat quidem alias qui! Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorum exercitationem consequatur tenetur maxime laborum expedita pariatur quibusdam, illum ipsum, soluta nulla fugiat quos dignissimos eveniet! Quos rem vel dicta voluptatum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Sunt distinctio laboriosam, rerum repellat voluptates esse provident, ducimus unde itaque neque dolore adipisci, possimus ut saepe nesciunt quam sit. Odit, magni?
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
    </div>
</div>

<!-- Swiper JS -->
<script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>

<!-- Initialize Swiper -->
<script>
    var swiper = new Swiper(".mySwiper", {
    slidesPerView: 1,
    spaceBetween: 30,
    loop: true,
    pagination: {
        el: ".swiper-pagination",
        clickable: true,
    },
    navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
    },
    });
</script>
{% endblock %}