body {
    /* <!-- TO BE FIXED --> */
    /* background: linear-gradient(to top left, #ff3a3a, #8de664); */
    background-color: #8f8f8f;
}

.navbar-brand {
    background-color: #ffffff;
    border-bottom-right-radius: 50%;
    padding: 5px 15px 15px 5px;
}

.contain {
    object-fit: contain;
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 30px;
    }
}

/*-----------------------------------------------Footer */

