<!-- Footer -->
<div class="col text-center text-white">
  <!-- Grid container -->
  <div class="container pt-4">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a target="_blank" class="btn btn-link btn-floating btn-lg socialink fb m-1" href="https://www.facebook.com/salvatore.bevilacqua.1253/" role="button">
        <i class="fab fa-facebook-f"></i>
      </a>
      <!-- Twitter -->
      <a target="_blank" class="btn btn-link btn-floating btn-lg socialink tw m-1" href="https://twitter.com/SalvoBevi" role="button">
        <i class="fab fa-twitter"></i>
      </a>
      <!-- Google
      <a target="_blank" class="btn btn-link btn-floating btn-lg socialink go m-1" href="#!" role="button">
        <i class="fab fa-google"></i>
      </a> -->
      <!-- Instagram -->
      <a target="_blank" class="btn btn-link btn-floating btn-lg socialink in m-1" href="https://www.instagram.com/s_a_l.v_o/" role="button">
        <i class="fab fa-instagram"></i>
      </a>
      <!-- Linkedin -->
      <a target="_blank" class="btn btn-link btn-floating btn-lg socialink li m-1" href="https://www.linkedin.com/in/salvatore-bevilacqua/" role="button">
        <i class="fab fa-linkedin"></i>
      </a>
      <!-- Github -->
      <a target="_blank" class="btn btn-link btn-floating btn-lg socialink gi m-1" href="https://github.com/SalvatoreBevilacqua" role="button">
        <i class="fab fa-github"></i>
      </a>
    </section>
  </div>

  <!-- Copyright -->
  <div class="text-center text-dark p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2021 Copyright:
    <a class="text-dark" href="{% url 'home' %}">SalvatoreBevilacqua.com</a>
  </div>
</div>