<!-- Footer -->
<footer class="">
    <div class="col-12 col-md-12">
        <ul class="list-inline social-links">
            <li class="list-inline-item">
                <a target="_blank" href="https://www.facebook.com/salvatore.bevilacqua.1253/">
                <i class="fa fa-facebook"></i>
                    <span class="sr-only">Facebook</span>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://twitter.com/Sa_B1_">
                <i class="fa fa-twitter"></i>
                    <span class="sr-only">Twitter</span>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://www.instagram.com/salvo.bevi.1/?hl=it">
                <i class="fa fa-instagram"></i>
                    <span class="sr-only">Instagram</span>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://www.linkedin.com/in/salvatore-bevilacqua/">
                <i class="fa fa-linkedin"></i>
                    <span class="sr-only">Linkedin</span>
                </a>
            </li>
            <li class="list-inline-item">
                <a target="_blank" href="https://github.com/SalvoBevi">
                <i class="fa fa-github"></i>
                    <span class="sr-only">Github</span>
                </a>
            </li>
        </ul>
    </div>
</footer>