<!-- Logo -->
<div class="col-12 col-sm-4 col-md-2 my-auto py-lg-0" style="padding-left: 0;">
    <a href="{% url 'home' %}" class="navbar-brand padding-left-0">
        <img src="media/SB.jpg" alt="logo" style="max-height: 70px;">
    </a>
</div>
<!-- Navbar -->
<div class="col-6 col-md-8 my-auto py-1 py-lg-0">
    <ul class="list-inline list-unstyled text-center text-lg-center my-0">
        <li class="list-inline-item m-0">
            <a class="nav-link navaw" href="{% url 'home' %}" id="user-options" aria-haspopup="true" aria-expanded="false">
                <div class="text-center under_div">
                    <p class="my-0 under_p">Home</p>
                </div>
            </a>
        </li>
        <li class="list-inline-item m-0">
            <a class="nav-link navaw" href="{% url 'portfolio' %}" id="user-options" aria-haspopup="true" aria-expanded="false">
                <div class="text-center under_div">
                    <p class="my-0 under_p">Portfolio</p>
                </div>
            </a>
        </li>
        <li class="list-inline-item m-0">
            <a class="nav-link navaw" href="{% url 'contactme' %}" id="user-options" aria-haspopup="true" aria-expanded="false">
                <div class="text-center under_div">
                    <p class="my-0 under_p">Contact Me</p>
                </div>
            </a>
        </li>
    </ul>
</div>
