<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-light" style="padding: 0px 14px 15px 0px;">

  <!-- Navbar brand -->
  <!-- <a class="navbar-brand" href="#">Navbar</a> -->
  <div class="my-auto py-lg-0" style="padding-left: 0;">
      <a href="{% url 'home' %}" class="navbar-brand padding-left-0">
          <img src="media/SB.jpg" alt="logo" style="max-height: 70px;">
      </a>
  </div>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#butNav"
    aria-controls="butNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="butNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto list-inline text-center text-lg-center my-0">
      <li class="nav-item active">
        <a class="nav-link" style="padding-left: 8px;padding-right: 8px;" href="{% url 'home' %}" id="user-options" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <p class="my-0 under_p cssnavb">Home</p>
            </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="padding-left: 8px;padding-right: 8px;" href="{% url 'portfolio' %}" id="user-options" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
               <p class="my-0 under_p cssnavb">Portfolio</p>
            </div>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" style="padding-left: 8px;padding-right: 8px;" href="{% url 'contactme' %}" id="user-options" aria-haspopup="true" aria-expanded="false">
            <div class="text-center">
                <p class="my-0 under_p cssnavb">Contact Me</p>
            </div>
        </a>
      </li>

    </ul>
</nav>